<div>
	<div class="form">

		<div n:if="isset($success)" class="flash">{$success}</div>
		<div n:if="$form->hasErrors()" class="alert alert-error">
			<div n:foreach="$form->errors as $error">{$error}</div>
		</div>
