{define badge}
	<div n:if="$badge && ($badge->value || $badge->showIfEmpty)">
		<span n:class="$renderer->getBadgeClass(), $badge->color">{$badge->value}</span>
	</div>
{/define}

{block menu}
<ul id="{$id}" n:class="$ulClass">
	<li n:if="$title" class="divider"></li>
	<li n:if="$item->isAllowed()" n:foreach="$list as $item" n:class="$item->isCurrent() ? active, $iterator->isFirst() ? first, $iterator->isLast() ? last, $item->getIsTitle() ? nav-title, $renderer->getNodeLiClass()">
		{if is_array($item->getSignal())}
		{var $signal = $item->getSignal()}
		<a href="{= $presenter->link($signal[0], $signal[1])}" n:if="$item->getSignal()" n:class="$item->isCurrent() ? active, $iterator->isFirst() ? first, $iterator->isLast() ? last, $renderer->getNodeAClass()">
			<i n:if="$item->getIcon()" class="{$item->getIcon()}"></i>
			<span class="content">{$item->getTitle()}</span>
		</a>
		{else}
		<a href="{plink $item->getSignal()}" n:if="$item->getSignal()" n:class="$item->isCurrent() ? active, $iterator->isFirst() ? first, $iterator->isLast() ? last, $renderer->getNodeAClass()">
			<i n:if="$item->getIcon()" class="{$item->getIcon()}"></i>
			<span class="content">{$item->getTitle()}</span>
			{include badge, badge => $item->getBadge()}
		</a>
		{/if}
		<div n:if="!$item->getSignal()" n:class="$item->isCurrent() ? active, $iterator->isFirst() ? first, $iterator->isLast() ? last, $item->getIsTitle() ? title">{$item->getTitle()}</div>
		<ul n:if="!$item->isEmpty() && $item->hasAnyAllowedChild()" id="{$item->getId()}" class="childs">
			<li n:if="$child->isAllowed()" n:foreach="$item->getChilds() as $child" n:class="$child->isCurrent() ? active, $iterator->isFirst() ? first, $iterator->isLast() ? last, $item->getIsTitle() ? nav-title">
				<i n:if="$child->getIcon()" class="{$child->getIcon()}"></i>
				{if is_array($child->getSignal())}
				{var $signal = $child->getSignal()}
				<span class="content"><a href="{= $presenter->link($signal[0], $signal[1])}" n:class="$item->isCurrent() ? active, $iterator->isLast() ? last">{$child->getTitle()}</a></span>
				{else}
				<span class="content"><a href="{plink $child->getSignal()}" n:class="$item->isCurrent() ? active, $iterator->isLast() ? last">{$child->getTitle()}</a></span>
				{/if}
			</li>
		</ul>
	</li>
</ul>
{/block}